<div class="navbar is-danger">

    <div class="navbar-brand">
      <a class="navbar-item">
        <a href="assets/image/Logo.jpg" target="blank">
        <img src="assets/image/Logo.jpg" >
        </a>
        <img src="assets/image/Logo.png">
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start ">
        <a class="navbar-item" routerLink="/">Home</a>
        <a class="navbar-item" routerLink="/menu">Menu</a>
        <a class="navbar-item" routerLink="/gallery-page">Gallery</a>
        <a class="navbar-item" routerLink="/">About-Us</a>
        <a class="navbar-item">
          Shopping Cart
          <span class="badge badge-warning badge-pill" *ngIf="cart$ | async as cart">
            {{cart.totalItemsCount}}
          </span>
        </a>
        <a class="navbar-item" routerLink="/register">Promotions</a>
      </div>

    </div>
    <app-searchbar></app-searchbar>





  </div>



