<footer class="footer2">
    <div class="container content has-text-centered ">

     <a class="button is-medium is-facebook" href="https://www.facebook.com/Nothing-Batter-Cakes-313910325863908" target="blank">
      <span class="icon">
        <i class="fab fa-facebook fa-lg"></i>
      </span>
    </a>
  
  <a class="button is-medium is-instagram" href="https://www.instagram.com/nothingbattercakes_/" target="blank">
    <span class="icon">
      <i class="fab fa-instagram fa-lg"></i>
    </span>
  </a>
  
  
  <a class="button is-medium is-twitter" >
    <span class="icon">
      <i class="fab fa-twitter fa-lg"></i>
    </span>
  </a>
  
   
    </div>
    </footer>
