.hero{
    background-image: url('/assets/image/background.jpg') !important;
    background-size: cover;
    background-position:center center;
  }

  .heading{
    font-size:50px;
    color:purple;
  }