<!-- <p>about-us works!</p> -->

<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h3>Our Story</h3>
<BR><BR>
<p>Nothing batter cakes was founded by Kay-Leigh. <BR>
    While socializing and getting together with friends and family food was always present <BR>
    and nothing was sweeter than conversations and cakes.<BR>
    This business came from that. Friends and love.
</p>

<BR><BR><BR>

<h3>Our Mission</h3>
<BR><BR>
  <p>
    Nothing batter cakes always prepare their baked goods with love.<BR> It’s 100% homemade. 
    And always have others in mind.
  </p>  

  <BR><BR><BR>

    <h3>Our Visions</h3>
    <BR><BR>
    <p>Kay-Leigh wants to give everyone a piece of the joy and content <BR>
        that comes with conversations with friends and a plate of freshly baked goods.
    </p>

    <BR><BR><BR><BR>
 <h1>
<!--  ___________________________________________________________________________________________________________________________________ -->
</h1>  
  <BR><BR><BR><BR>
    <h3>Get In Touch With Us</h3>
    <BR><BR>
        <p>Our socials details includes the following:</p> 
        <BR><BR>
<p>Contact number 0817650522</p> 
<BR>
<p>Email nothingbattercakess@gmail.com</p> 

<BR>

<p>
<a class >
  <span class="icon">
    <i class="fab fa-instagram fa-lg"></i>
  </span>
  Instagram @nothingbattercakes
</a>
</p>
<BR>

  <p>
<a class >
  <span class="icon">
    <i class="fab fa-twitter fa-lg"></i>
  </span>
</a>
</p>

<BR>
  <p>
<a class>
  <span class="icon">
    <i class="fab fa-facebook fa-lg"></i>
  </span>
  Nothing-batter
</a>
  </p>


</body>
</html>



