<section class ="hero is-primary is-fullheight has-text-centered">
    <ul>
    <li *ngFor="let product of imagesFromDB">
        
        <a>
            <img src="{{product.imageUrl}}" alt="">
            <div class="content">
  
                  <div class="name">
                     {{product.name}}
                  </div>
  
                 <div class ="description">
                 {{product.description}}
                 </div>
  
            </div>
        </a>
    </li>
  </ul> 
     
  </section>
