/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Literata");



.footer2{
    background-color: #f14668 ;
    padding: 3rem 1.5rem 6rem;
  }

html{
    font-size: 16px;
}

body{
    margin: 0;
    font-family: "Crimson", sans-serif;
    color: black;

}

#total {
    background-color: #f14668
}

#add-to-cart {
    background-color: #f14668
}

#menu-background {
    background-image: url('/assets/image/background.jpg') !important;
    background-size: cover;
    background-position:center center;
  }

#menu-card-size-item {
    background-image: url('/assets/image/background.jpg') !important;
    background-size: cover;
    background-position:center center;
    width: 80%;
    height: 80%;
}


@import "~bootstrap/dist/css/bootstrap.css";
