<body>
<div class = container>
  <div class = "title">Registration</div>
  <form action = "#" [formGroup]="registerForm" (ngSubmit) = "submitForm()" novalidate>
    <div class = "user-details">
      <div class = "input-box">
        <span class ="details">First Name  </span>
        <input type ="text" formControlName= "firstName"placeholder=" Enter Your First Name">
        <div *ngIf = "f.firstName.invalid && f.firstName.touched">
          <span class = "error" *ngIf= "f.firstName.errors?.required">First Name is Required</span>
          <span class = "error" *ngIf= "f. firstName.errors?.pattern">Please Enter Valid First Name</span>
        </div>
      </div>
      <div class = "input-box">
        <span class ="details">Last Name  </span>
        <input type ="text" formControlName= "lastName" placeholder=" Enter Your Last Name">
        <div *ngIf = "f.lastName.invalid && f.lastName.touched">
          <span class = "error" *ngIf= "f.lastName.errors?.required">Last Name is Required</span>
          <span class = "error" *ngIf= "f.lastName.errors?.pattern">Please Enter Valid Last Name</span>
        </div>
      </div>

      <div class = "input-box">
        <span class ="details">Address</span>
        <input type ="text" formControlName= "address" placeholder=" Enter Your Address">
        <div *ngIf = "f.address.invalid && f.address.touched">
          <span class = "error" *ngIf= "f.address.errors?.required">Address Required<br></span>
          <span class = "error" *ngIf= "f.address.errors?.pattern">Please Enter Valid Address<br></span>
        </div>
      </div>
      <div class = "input-box">
        <span class ="details">Email</span>
        <input type ="text" formControlName= "mail"placeholder=" Enter Your Email">
        <div *ngIf = "f.mail.invalid && f.mail.touched">
          <span class = "error" *ngIf= "f.mail.errors?.required">Email Required<br></span>
          <span class = "error" *ngIf= "f.mail.errors?.pattern">Please Enter Valid Email<br></span>
          <span class = "error" *ngIf= "f.mail.errors?.maxlength">Email to long<br></span>
          <span class = "error" *ngIf= "f.mail.errors?.minlength">Email too short<br></span>
        </div>
      </div>

      <div class = "input-box">
        <span class ="details">Contact Number</span>
        <input type ="text" formControlName= "number" placeholder=" Enter Your Contact Number">
        <div *ngIf = "number.invalid && number.touched">
          <span class = "error" *ngIf= "f.number.errors?.required">Contact Number Required<br></span>
          <span class = "error" *ngIf= "f.number.errors?.pattern">Please Enter Valid Contact Number<br></span>
          <span class = "error" *ngIf= "f.number.errors?.maxlength">Contact Number exceeds 10 digits<br></span>
          <span class = "error" *ngIf= "f.number.errors?.minlength">Contact Number requires 10 digits<br></span>
        </div>
      </div>
      <div class = "button">
        <input type = "submit" value = "Register" [disabled] = "!registerForm.valid">
      </div>

    </div>
  </form>

</div>
</body><body>
<div class = container>
  <div class = "title"> Promotions Registration</div>
  <form action = "#" [formGroup]="registerForm" (ngSubmit) = "submitForm()" novalidate>
    <div class = "user-details">
      <div class = "input-box">
        <span class ="details">First Name  </span>
        <input type ="text" formControlName= "firstName"placeholder=" Enter Your First Name">
        <div *ngIf = "f.firstName.invalid && f.firstName.touched">
          <span class = "error" *ngIf= "f.firstName.errors?.required">First Name is Required</span>
          <span class = "error" *ngIf= "f. firstName.errors?.pattern">Please Enter Valid First Name</span>
        </div>
      </div>
      <div class = "input-box">
        <span class ="details">Last Name  </span>
        <input type ="text" formControlName= "lastName" placeholder=" Enter Your Last Name">
        <div *ngIf = "f.lastName.invalid && f.lastName.touched">
          <span class = "error" *ngIf= "f.lastName.errors?.required">Last Name is Required</span>
          <span class = "error" *ngIf= "f.lastName.errors?.pattern">Please Enter Valid Last Name</span>
        </div>
      </div>

      <div class = "input-b">
        <span class ="details">Address</span>
        <input type ="text" formControlName= "address" placeholder=" Enter Your Address">
        <div *ngIf = "f.address.invalid && f.address.touched">
          <span class = "error" *ngIf= "f.address.errors?.required">Address Required<br></span>
          <span class = "error" *ngIf= "f.address.errors?.pattern">Please Enter Valid Address<br></span>
        </div>
      </div>
      <div class = "input-box">
        <span class ="details">Email</span>
        <input type ="text" formControlName= "mail"placeholder=" Enter Your Email">
        <div *ngIf = "f.mail.invalid && f.mail.touched">
          <span class = "error" *ngIf= "f.mail.errors?.required">Email Required<br></span>
          <span class = "error" *ngIf= "f.mail.errors?.pattern">Please Enter Valid Email<br></span>
          <span class = "error" *ngIf= "f.mail.errors?.maxlength">Email to long<br></span>
          <span class = "error" *ngIf= "f.mail.errors?.minlength">Email too short<br></span>
        </div>
      </div>

      <div class = "input-box">
        <span class ="details">Contact Number</span>
        <input type ="text" formControlName= "number" placeholder=" Enter Your Contact Number">
        <div *ngIf = "number.invalid && number.touched">
          <span class = "error" *ngIf= "f.number.errors?.required">Contact Number Required<br></span>
          <span class = "error" *ngIf= "f.number.errors?.pattern">Please Enter Valid Contact Number<br></span>
          <span class = "error" *ngIf= "f.number.errors?.maxlength">Contact Number exceeds 10 digits<br></span>
          <span class = "error" *ngIf= "f.number.errors?.minlength">Contact Number requires 10 digits<br></span>
        </div>
      </div>
      <div class = "button">
        <input type = "submit" value = "Submit" [disabled] = "!registerForm.valid">
      </div>

    </div>
  </form>

 </div>



</body>
